$mainColor: #0078DC;

$secondaryColor: #C4C4C4;

%bigFont {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

