.header {
    &__top {
        padding: 20px 0 8px 90px;
    }

    &__nav {
        width: 100%;
        height: 39px;
        background: $mainColor;
    }

    &__btn {
        width: 42px;
        height: 42px;
        border: none;
        background: $mainColor;
        display: none;
    }
}