.information {
    &__container {
        max-width: 960px;
        margin: 0 auto;
    }

    &__inner {
        height: 576px;
        padding-bottom: 60px;
        display: grid;
        grid-template-columns: 1fr 180px 180px 180px;
        column-gap: 15px;

        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
            padding: 0 20px;
            height: 100%;
        }

        @media screen and (max-width: 414px) {
            row-gap: 0;
            padding: 0;
        }
    }

    &__news {
        height: 516px;
        @extend %bigFont;
        background: $secondaryColor;
        padding-top: 13%;
        padding-left: 20%;

        @media screen and (max-width: 768px) {
            height: 309px;
            padding-top: 5%;
            padding-left: 20%;
        }

        @media screen and (max-width: 414px) {
            height: 516px;
            padding-top: 15%;
            padding-left: 20%;
        }
    }

    &__news-wrap {
        @media screen and (max-width: 768px) {
            padding-bottom: 25px;
        }

        @media screen and (max-width: 414px) {
            padding: 0 10px;
        }

        @media screen and (max-width: 360px) {
            padding: 0 15px;
            background: #F0F0F0;
        }
    }

    &__news-wrap-bg {
        @media screen and (max-width: 414px) {
            padding: 0 0 20px;
            background: #F0F0F0;
        }
    }

    &__public-wrap {
        padding: 0 10px;

        @media screen and (max-width: 360px) {
            padding: 0 15px;
            background: #F0F0F0;
        }
    }

    &__public-1 {
        height: 100%;
        @extend %bigFont;
        background: $secondaryColor;
        padding-top: 20%;
        padding-left: 7%;

        @media screen and (max-width: 768px) {
            display: none;
            height: 182px;
            margin-bottom: 25px;
            background: #EFEFEF;

            br {
                display: none;
            }
        }

        @media screen and (max-width: 414px) {
            display: block;
            height: 46px;
            margin-bottom: 12px;
            background: $secondaryColor;
            padding-top: 3%;
            padding-left: 8%;
            font-weight: 700;
        }
    }

    &__public-1-wrap {

        @media screen and (max-width: 414px) {
            padding: 0 10px;
        }

        @media screen and (max-width: 360px) {
            padding: 0 15px;
            background: #F0F0F0;
        }
    }

    &__public-1-hidden {
        display: none;

        @media screen and (max-width: 768px) {
            display: block;
            min-height: 182px;
            margin-bottom: 25px;
            background: #EFEFEF;
            display: flex;

            br {
                display: none;
            }
        }

        @media screen and (max-width: 414px) {
            display: none;
        }
    }

    &__public-1-img {
        width: 180px;
        height: 120px;
    }

    &__public-1-content {
        max-width: 496px;
        margin-top: 17px;
        margin-left: 27px;
        padding-right: 5px;
    }

    &__public-1-subtitle {
        @extend %bigFont;
        font-weight: 700;
        color: $mainColor;
    }

    &__public-1-span-1 {
        display: block;
        @extend %bigFont;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    &__public-1-span-2 {
        display: block;
        @extend %bigFont;
        margin-bottom: 10px;
    }

    &__public-2 {
        height: 100%;
        @extend %bigFont;
        background: $secondaryColor;
        padding-top: 25%;
        padding-left: 5%;

        @media screen and (max-width: 768px) {
            height: 182px;
            margin-bottom: 25px;
            padding-top: 2%;
            padding-left: 29%;
        }

        @media screen and (max-width: 414px) {
            height: 46px;
            margin-bottom: 12px;
            padding-top: 3%;
            padding-left: 8%;
        }
    }

    &__public-2-wrap {

        @media screen and (max-width: 414px) {
            padding: 0 10px;
        }

        @media screen and (max-width: 360px) {
            padding: 0 15px;
            background: #F0F0F0;
        }
    }

    &__public-3 {
        height: 100%;
        @extend %bigFont;
        background: $secondaryColor;
        padding-top: 30%;
        padding-left: 34%;

        @media screen and (max-width: 768px) {
            height: 182px;
            padding-top: 2%;
            padding-left: 29%;
        }

        @media screen and (max-width: 414px) {
            display: none;
        }
    }

    &__public-3-hidden {
        display: none;

        @media screen and (max-width: 414px) {
            display: block;
            min-height: 193px;
            height: 100%;
            padding-top: 8%;
            padding-right: 5px;
            padding-left: 6%;
            padding-bottom: 10px;
            background: #CFCFCF;
        }
    }

    &__public-3-wrap {

        @media screen and (max-width: 414px) {
            padding: 0 10px;
        }

        @media screen and (max-width: 360px) {
            padding: 0 15px;
            background: #F0F0F0;
        }
    }

    &__span-2 {
        @extend %bigFont;
        display: none;

        @media screen and (max-width: 768px) {
            display: block;
        }

        @media screen and (max-width: 768px) {
            font-weight: 700;
        }
    }

    &__span-1,
    &__span-3 {
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
}